@(unhealthyAlert: models.UnhealthyAlert)(implicit request: RequestHeader)

@for(id <- unhealthyAlert._id) {
    <div id="modal-@id.id" class="modal">
        <div class="modal-content">
            <h4>Remove Alert</h4>
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <form action="@routes.HomeController.remove(id)" method="post" id="form-@id.id">
                <a href="javascript:document.getElementById('form-@id.id').submit()" class="btn red">Remove</a>
                <a href="#!" class="modal-close waves-effect waves-orange btn green">Cancel</a>
            </form>
        </div>
    </div>}
